---
layout: default
title: Class Offerings
description: Hot Yoga, Warm Yoga, 26 & 2, Vinyasa, and beginner-friendly classes at Meta Yoga.
canonical_url: 'https://metayoga.com/classes'
---
    <section class="ftco-section">
        <div class="container">
            {% include page-heading.html kicker="Classes" title="Class Offerings" %}
            <div class="row no-gutters">
                <healcode-widget data-type="class_lists" data-widget-partner="object" data-widget-id="e544771213a" data-widget-version="0"></healcode-widget>
            </div>
        </div>
    </section>

    {% include gallery-grid.html title="See the latest photos" images=site.data.galleries.studio %}
