---
layout: default
title: Rates
description: Class packs, memberships, and student/teacher/military discounts at Meta Yoga.
canonical_url: 'https://metayoga.com/rates'
---
    <section class="ftco-section bg-light">
        <div class="container">
            {% include page-heading.html kicker="Rates" title="Studio Rates" col=7 %}

            {% for group in site.data.rates %}
            <h3 class="subheading">{{ group.heading }}</h3>
            <div class="row">
                {% for item in group.items %}
                {% include rate-card.html item=item %}
                {% endfor %}
            </div>
            <BR /><BR />
            {% endfor %}
        </div>
    </section>
