    <section class="ftco-gallery ftco-section">
        <div class="container">
            {% include page-heading.html kicker="Gallery" title=include.title col=7 %}
            <div class="row">
                {% for image in include.images %}
                <div class="col-md-3 ftco-animate">
                    <a href="images/{{ image }}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/{{ image }});" aria-label="Open gallery image">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
