    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="images/meta_yoga_logo_40.png" alt="" class="img-fluid" width="40" height="40">Meta Yoga</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu" aria-hidden="true"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    {% for item in site.data.nav %}
                    {% assign is_active = false %}
                    {% if page.url == item.match %}{% assign is_active = true %}{% endif %}
                    <li class="nav-item{% if is_active %} active{% endif %}"><a href="{{ item.url }}" class="nav-link"{% if is_active %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
                    {% endfor %}
                    <li class="nav-item">
                        <healcode-widget data-version="0.2" class="nav-link" data-link-class="healcode-login-register-text-link" data-site-id="83432" data-mb-site-id="992785" data-type="account-link" data-inner-html="Login"></healcode-widget>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
