<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HealthClub",
  "name": "Meta Yoga",
  "description": "Two beautiful yoga studios offering both Hot and Warm Yoga classes on the Eastern Shore.",
  "image": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
  "logo": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
  "@id": "",
  "url": "https://metayoga.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "2324 West Zion Road, #101",
    "addressLocality": "Salisbury",
    "addressRegion": "MD",
    "postalCode": "21801",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 38.40117819291426,
    "longitude": -75.57305886011977
  } ,
  "sameAs": [
    "https://www.facebook.com/metayogasalisbury",
    "https://www.instagram.com/metayoga"
  ],
  "department": [{
    "@type": "HealthClub",
    "name": "Mega Yoga",
    "description": "Beautiful yoga studio offering both Hot and Warm Yoga classes Salisbury.",
    "image": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "2324 West Zion Road, #101",
      "addressLocality": "Salisbury",
      "addressRegion": "MD",
      "postalCode": "21801",
      "addressCountry": "US"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 38.40117819291426,
      "longitude": -75.57305886011977
    }
  },{
    "@type": "HealthClub",
    "name": "Meta Yoga",
    "description": "Beautiful yoga studio offering both Hot and Warm Yoga classes in Ocean City.",
    "image": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12911 Ocean Gateway, Unit 304",
      "addressLocality": "Ocean City",
      "addressRegion": "MD",
      "postalCode": "21842",
      "addressCountry": "US"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 38.33552066998888,
      "longitude": -75.10007584427875
    }
  }]
}
</script>
