<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HealthClub",
  "name": "Meta Yoga",
  "description": "A beautiful yoga studio offering both Hot and Warm Yoga classes in Ocean City, MD.",
  "image": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
  "logo": "https://metayoga.com/images/meta_yoga_logo_large.jpg",
  "url": "https://metayoga.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "12911 Ocean Gateway, Unit 304",
    "addressLocality": "Ocean City",
    "addressRegion": "MD",
    "postalCode": "21842",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 38.33552066998888,
    "longitude": -75.10007584427875
  },
  "sameAs": [
    "https://www.facebook.com/metayogasalisbury",
    "https://www.instagram.com/metayogastudios"
  ]
}
</script>
